@import url(util.css);

body {
    font-family: 'Young Serif', serif;
    background-image: linear-gradient(#261358, #2D1666);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
    color: #ffff;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    font-size: xx-large;
}
.total{
    height: 100vh;
}

li {
    text-decoration: underline;
}

* {
    
    padding-top: 20px;
}